/*-----making responsive for phone-----*/
/*----Navigation bar starts from here-----*/
.header{
    min-height:50vh;
    width:100%;
    position:relative;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.nav-links{
    text-align: center;
}
nav{
    flex-direction:column;
    padding:2% 6%;
    justify-content:space-between;
    align-items:center;
    background-color: #000;
}
nav img{
    margin-bottom:30px;
    width:40px;
}
.nav-links ul li{
    list-style:none;
    display:inline-block;
    padding:2px 6px;
    position:relative;
}
.nav-links ul li a{
    color:#fff;
    text-decoration:none;
    font-size:11px;
    font-family: 'Saira', sans-serif;
}
.right{
    margin-top:0;
    margin-left:0;
    display:flex;
    flex-direction:column;
}
.right h6{
    font-size:14px;
    color:rgb(173, 61, 27);
    font-family: 'Saira Condensed', sans-serif;
    font-weight:600;
    letter-spacing:2px;
}
.right h1{
    font-size:15px;
    margin: -7px 0;
    font-family: 'Saira', sans-serif;
    font-weight:600;    
}
.right p{
    font-size:12px;
    width:51%;
}
span{
    font-size:18px;
    font-weight:bold;
    font-weight:600;
}
.image-box {
    width: 72%;
    height: 52%;
    position: absolute;
    bottom: 43px;
    right: -25px;
}
/*----Navigation bar and home section completed here-----*/
/*---services section will starts from here----*/
#services h1 {
    text-align: center;
    color: rgb(29, 27, 27);
    padding-top: 18px;
    font-family: 'Saira', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    font-size:20px;
}
.main-part {
    width: 100%;
    height: 358px;
    text-align: center;
    position: relative;
    cursor: pointer;
}
#services .row {
    height: 225vh;
    padding-bottom: 0px;
}
.service h4 {
    width: 90%;
    font-size: 18px;
}
/*----skill container------*/
#skill-container{
    width: 100%;
    height: 72vh;
    margin-top:0;
    padding-top: 17px;
}
.center {
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 10px;
    font-size:20px;
    letter-spacing:1px;
    font-weight:500;
}
.row-again {
    padding-left: 0px;
}
.row-again {
    padding-left:0px;
}
.progress-title {
    width: 100%;
    height: 75px;
}
.progress-title h3 {
    font-size: 16px;
    font-weight: 500;
    color: #eee4e4;
    margin: 0 0 5px;
    letter-spacing: 2px;
}
/*-----Project section---------*/
#project-section .testimonial .col-3 {
    box-shadow: 0 0 20px 0px rgb(7 1 1 / 10%);
    text-align: center;
    padding: 11px 50px;
    cursor: pointer;
    transition: transform 0.5s;
}
#project-section {
    padding-top: 17px;
    height:193vh;
   }
#project-section h1 {
    font-size: 18px;
}
#project-section p {
    font-size: 14px;
    padding: 3px 20px;
    font-weight: 600;
}
.col-3 h3 {
    margin-top: 0px;
    font-size:18px;
}
.col-3 img {
    border-radius: 100px;
    margin-top: 20px;
    width: 90%;
    margin-bottom: 20px;
}
.col-3 a {
    text-decoration: none;
    color: rgb(50 36 134);
    font-size:15px;
}
.row-one{
   padding-top:35px;
   flex-direction: column;
   width:100%;
}
.row-one .col-3{
    width:100%;
}
/*---About me section starts here--------*/
#about-me{
    margin-top:0;
    height:138vh;
}
#about-me p{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 14px;
}
#about-me h2 {
    margin-bottom: 65px;
    padding-top: 28px;
}
#about-me h5 {
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.row{
    height:137vh;
}
.img-wrap {
    width: 42%;
    margin-left: 100px;
    margin-top: 0px;
}
#about-me h2 {
    margin-bottom: 65px;
    padding-top: 28px;
    font-size:20px;
}
.footer img {
    width: 59px;
    height: 60px;
    padding: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
